output:
 loglevel: 100
 output_freq: 100
 stat_freq: 1
 output_aux_vars: false
 outfile_name: sim

plot:
 static_plots: false

initial-conditions:
 name: doublevortex #densitywave doublevortex TC5 TC2
 tracer_init_conds:  [] #[gaussian, block]
 dg_tracer_init_conds: [] #[gaussian, block]
 ox : 0.1
 oy : 0.1

hyperviscosity:
 c0: 0.07
 s: 3.2
 treat_as_coeffs: false

threewayphysics:
 gamma_r: .001 #10e-3
 qprecip: .0001 #10e-4
 L : 10.
 treat_as_coeffs : false

mesh:
 type: rectangle-periodic
 nx: 50
 ny: 50
 nz: 100
 diagonal: #crossed
 simplicial_cells: false

model:
 type: metriplectic #metriplectic advection
 poisson_bracket: cf #none cf lp borninfeld lp-cocycle cf-cocycle hodgewave
 metric_bracket: none #none thermoviscousregularization
 hamiltonian: mtswe # tswe mtswe ce mce mhd maxwell eulermaxwell scalarwave vectorwave
 forcing_terms: [ dg1limiter, threewayphysics] #[ ] #
 tracer_names: [] #[T1, T2]
 dg_tracer_names: [] #[DGT1, DGT2]
 thermo: idealgas-entropy




spatial-discretization:
 order: 2
 family: Q
 alpha_s: 1.0 #0 = centered, 1 = upwind
 upwind_v: true
 lump_mass: false


#THESE ARE DYNAMICS TIME STEPS
#200s at nx=100, order=1 for tswe double vortex
#0.0001 at nx=100, order=1 for twse density wave

timestepping:
 method: LieSplit #AVF2 TimeStaggered SSPRK LieSplit
 dt_type: direct
 dt: 400 #400
 num_steps: 1000
 termlist : [[model,], [dg1limiter,], [threewayphysics,]] #
 timestepper_list : [RK4, SSPRK43, Euler] #,
 subcycle_list : [2, 2, 1] #1
 avf_solver : qn #fixedpoint qn
 num_avf_quad: 2
 kgrk2_name: 52 #32 42 52 53
